[submodule "vault"]
	path = vault
	url = https://github.com/robotfreak/vault.git
[submodule "inventory"]
	path = inventory
	url = git@github.com:robotfreak/inventory.git
[submodule "web-dashboard"]
	path = web-dashboard
	url = git@github.com:robotfreak/web-dashboard.git
[submodule "makerspace-logger"]
	path = makerspace-logger
	url = git@github.com:robotfreak/makerspace-logger.git
[submodule "openscad-webui"]
	path = openscad-webui
	url = git@github.com:robotfreak/openscad-webui.git
[submodule "vault-renderer"]
	path = vault-renderer
	url = git@github.com:robotfreak/vault-renderer.git
